%noMarginPadding {
    margin: 0;
    padding: 0;
}
%centered{
    text-align: center;
}
$blueGreen :#16d9d2;


@media (min-width: 725px) {
    #welcome::before {
        content: "Welcome to my Website!";
        }
            }
@media (max-width: 724px) {
    #welcome::before {
        content: "Welcome!";
        }
    a{
        .name {
        display: none;
        }
    } 
            }
body {
        background-image: url(light-final.jpg);
        @extend %noMarginPadding;
}
.header {
    img{
        width: 100%;
    }
}
.nav {
            top: 0;
        position: sticky; 
    ul {
        
        list-style-type: none;
        background-color: black;
        text-align: center;
        @extend %noMarginPadding;
        width: 100%;
        opacity: 65%;
        overflow: hidden;
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
        color: white;
        display: block;
        font-size: 20px;
        padding: 14px 21px;
        transition: 0.4s;
    }
    a:hover {
        background-color: $blueGreen;
    }
}
#active {
    background-color: $blueGreen;
}
#HOME {
    @extend %centered;
}
.container {
    h1 {
        @extend %centered;
    }
}
