$color: black;

%contain {
	border:2px solid black;
	text-align: center;
	background-color:gray;
}

%autosize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.dropdown-toggle:hover{
  background-color: black;
}

.dropdown-menu:hover{
  background-color: gray;
}

#navigation {
  padding: 2px 18px;
  background: $color;
  text-align: center;
}

.VideoG{
	@extend %contain;
	p {
		font-size: 20px;
		padding: 20px
	}
}

.Ark {
  @extend %autosize;
}

.CAC {
	@extend %autosize;
}

.CODM {
	@extend %autosize;
}

.MC {
	@extend %autosize;
}

.WB {
	@extend %autosize;
}


.Computer{
  @extend %contain;
	p {
		padding: 20px;
		font-size: 25px;
	}
}

.IAD {
	@extend %autosize;
}

.Linux{
	@extend %autosize;
}

.Ndia {
	@extend %autosize;
}
